# Dependencies
node_modules/
backend/venv/
backend/__pycache__/
frontend/.next/
frontend/out/
build/
dist/

# Environment files
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db
*.pem

# Python
__pycache__/
*.py[cod]
*$py.class
backend/.pytest_cache/
backend/alembic/versions/__pycache__/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
backend/app/db/test.db
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# User Exclusions
"reference inspo/"
README.md
